.special{
    background-color: #97ede0;
    height:450px ;
    display: grid;
    place-items: center;
    margin-top:50px;
    padding:0;
}
.special img{
    height:500px;
    cursor: pointer;
}
.special-offer-1{
    display: inline;
}
.special-offer-2{
    display: none;
}

@media screen and (max-width:768px) {
    .special img{
        height:400px;
    }
    .special-offer-1{
        display: none;
    }
    .special-offer-2{
        display: inline;
       
    }
}